/* .dropdown{
    width: 350px;
    background-color: #fafafa;
    color: #111111;
    border-radius: 2px;
    cursor: pointer;
}

.schema-dot{
    width: 12.5px;
    height: 12.5px;
    border-radius: 50%;
    background-color: #000;
}

.del-icon{
    font-size: 32px;
    color: teal;
    cursor: pointer;
}

.remove-btn{
    background-color: #e4f1fe;
    border: none;
    padding: 10px;
    margin-left: 2px;
    color: #1e517b;
  }
   */